@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(170, 255, 188);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 133, 29);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 133, 29);
    color: white;
}

h2 {
    color: rgb(50, 124, 66);
}

.basico {
    color: rgb(50, 124, 66);
}

.intermediario {
    color: rgb(124, 123, 50);
}

.avançado {
    color: rgb(124, 50, 50);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.247);
}