@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E5D5, #A69580);
}


main {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #261a0b9d;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #261A0B;
    text-align: center;
    text-shadow: 1px 1px 3px #261a0b8c;
}

h2 {
    color: #533f27;
}

p {
    text-align: justify;
}

